{% extends "layout.html" %} {% block content %}
<div class="container">
  <h2>Course Reviews</h2>

  <h3>Reviews</h3>
  {% for entry in entries %}
  <div class="reviewcontainer">
    <p class="entry">
      Department : {{ entry.department }} {{ entry.coursenumber }} <br />
      Quarter/Year : {{ entry.quarter }} {{ entry.year }} <br />
      Instructor : {{ entry.instructor }}<br />
      Review : <br />
      {{ entry.review }}
    </p>
  </div>
  {% endfor %}

  <h3>Enter Course Review <a href=" {{ url_for('sign') }} "> Here!</a></h3>

  {% endblock %}
</div>
