{% extends "layout.html" %} {% block content %}
<h2>Enter Review</h2>
<form action="{{ url_for('sign') }}" method="post">
  <p class="heading">Department: <input type="text" name="department" /></p>
  <p class="heading">
    Course Number: <input type="number" name="coursenumber" />
  </p>
  <p class="heading">Quarter: <input type="text" name="quarter" /></p>
  <p class="heading">Year: <input type="number" name="year" /></p>
  <p class="heading">Instructor: <input type="text" name="instructor" /></p>
  <p class="heading">
    Review: <textarea rows="5" cols="50" name="review"></textarea>
  </p>
  <p><input type="submit" value="Enter" /></p>
</form>
{% endblock %}
